{{!--
	// Styleguide
	//
	// Styleguide declaration
	//
	// <small>Copyright brandung GmbH & Co.KG<br>
	// https://www.brandung.de/<br>
	// MIT License (MIT)</small>
	//
	// Markup: styleguide.hbs
	//
	// Weight: -10
	//
	// Style guide: Styleguide
--}}

{{#> base title="Styleguide" }}

	{{#*inline "main-block"}}

		<div class="util-text-center util-add-margin-top-double">
			<img src="/dist/img/capitan.png"/>
		</div>

		<main id="main" role="main">
			<div data-role="sg" data-type="sg__section">
				<div class="container">
					<h1 class="sg__title">Styleguide</h1>
				</div>
			</div>
			<div data-role="sg" data-type="sg__section" data-name="1. Colors">
				<div class="container">
					<h2 class="sg__hl">1. Colors</h2>
					{{> colors }}
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="2. Icons">
				<div class="container">
					<h2 class="sg__hl">2. Icons</h2>
					{{> icons }}
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="3. Breakpoints">
				<div class="container">
					<h2 class="sg__hl">3. Breakpoints</h2>
					{{> breakpoints }}
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="4. Grid">
				<div class="container">
					<h2 class="sg__hl">4. Grid</h2>
					{{> grid }}
				</div>
			</div>

			<div data-role="sg" data-type="sg__section" data-name="5. Typo Elements">
				<div class="container">
					<h2 class="sg__hl">5. Typo Elements</h2>
					{{> typo }}
				</div>
			</div>

			{{!--
				// Components
				//
				// Components declaration
				//
				// Weight: 0
				//
				// Style guide: Styleguide.Components
			--}}
		</main>
	{{/inline}}
	{{#*inline "footer-block"}}{{/inline}}
{{/base}}