@charset "utf-8";

/**
 * Capitan layout.scss v2.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * https://www.brandung.de/
 *
 * Date: 2016-09-05
 * MIT License (MIT)
 */

/* ==========================================================================
   Global Layout
   ========================================================================== */

* {
	@include prefix(box-sizing, border-box);
}

html,
body {
	font-size: $body-font-size;
	//min-height: 100vh;
}

body {
	@include font();
	background: color('white');
	color: color('grey-dark');
	line-height: 1.4;
	margin: 0;
	position: relative;
	//background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	//background-image: linear-gradient(to bottom, #74ebd5 0%, #12fff7 100%);
	background-image: linear-gradient(-100deg, #4facfe 0%, #74ebd5 100%);
}

main {
	display: block;
}

#page-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;

	& > * {
		width: 100%;
	}
}

[data-parallax-speed] {
	transform: translateY(var(--translateY));
	will-change: transform;
}

/* ==========================================================================
   Grid overrides
   ========================================================================== */

// Container widths
.container {
	min-width: ($container-min-widths / $body-font-size-px) + em;
	max-width: ($container-max-widths / $body-font-size-px) + em;
	margin: 0 auto;
	padding: 0 $grid-gutter-width;
}

// Row
.row {
	margin-bottom: spacer('half');

	// smaller offset on mobile
	@include respondMax(point('max-xs')) {
		margin: 0 (-$grid-gutter-width / 4);
	}

	// fix for incorrect use of row without columns
	& > *:not([class*='col-']) {
		width: 100%;
		flex-basis: 100%;
	}
}

.row--divided {
	@include respondMin(point('min-md')) {
		margin: 0 (-40px);
	}

	& > [class*='col-'] {
		&:first-child {
			@include respondMin(point('min-md')) {
				border-right: 1px solid color('grey-light');
			}
		}

		.btn-group {
			@include respondMin(point('min-md')) {
				margin-top: auto;
			}
		}

		@include respondMin(point('min-md')) {
			padding: 0 40px;
			display: flex;
			flex-direction: column;
		}
	}
}

[class*='col-'] {
	// smaller offset on mobile
	@include respondMax(point('max-xs')) {
		padding: 0 spacer('half');
	}
}

/* ==========================================================================
  Content Elements
  ========================================================================== */

img {
	height: auto;
	outline: 0;
	max-width: 100%;
}

hr {
	margin: 20px 0;
	border-top: 1px solid color('grey-light');
}
