@charset "utf-8";

/**
 * Capitan typo.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * https://www.brandung.de/
 *
 * Date: 2016-04-05
 * MIT License (MIT)
 */


/* ==========================================================================
   Typo
   ========================================================================== */

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat'; 
	font-style: normal;
	font-weight: 400;
	font-display: swap; 
	src: url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
	url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/webfonts/montserrat/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* fira-sans-300 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.eot'); /* IE9 Compat Modes */
	src: local('Fira Sans Light'), local('FiraSans-Light'),
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-700 - latin */
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Fira Sans Bold'), local('FiraSans-Bold'),
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/webfonts/fira-sans/fira-sans-v8-latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}

h1,
.util-h1,
h2,
.util-h2,
h3,
.util-h3,
h4,
.util-h4,
h5,
.util-h5,
h6,
.util-h6 {
	@include font($ff-heading, $typo-weight-bold);
	margin-top: 0;
}

h1,
.util-h1 {
	@include fontSizeREM(34);
	line-height: 1.17;
}

h2,
.util-h2 {
	@include font($ff-heading, $typo-weight-bold);
	@include fontSizeREM(28);
	letter-spacing: 1px;
	text-transform: uppercase;
}

h3,
.util-h3 {
	@include fontSizeREM(18);
	line-height: 1.17;
	letter-spacing: 0.7px;
}

h4,
.util-h4 {
	@include fontSizeREM(16);
	line-height: 1.19;
	letter-spacing: 0.6px;
}

h5,
.util-h5 {
	@include fontSizeREM(14);
	line-height: 1.14;
	letter-spacing: 0.6px;
}

h6,
.util-h6 {
	@include fontSizeREM(12);
	line-height: 1.25;
	letter-spacing: 0.3px;
}

p,
.util-paragraph {
	&:last-child {
		margin-bottom: 0;
	}
}

p,
.util-paragraph,
p a,
.util-link {
	@include font();
	@include fontSizeREM(14);
	line-height: 1.5;
	letter-spacing: 0.6px;
}

p a {
	color: color('ocker');
}

small,
.util-small {
	@include font();
	@include fontSizeREM(12);
	display: inline-block;
	line-height: 1.5;
	letter-spacing: 0.2px;
}

a {
	@include font($ff-regular);
	transition: all 150ms ease;
	color: color('ci');

	&:visited {
		color: color('ci');
	}
}


