@charset "utf-8";

/**
 * Capitan variables.scss v3.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * https://www.brandung.de/
 *
 * Date: 2015-06-27
 * MIT License (MIT)
 */

/* ==========================================================================
   Base settings
   ========================================================================== */

/* Base sizes */
$base-em: 16 !default;

/* Body font size */
$body-font-size-px: 16 !default;
$body-font-size: percentage(($body-font-size-px / $base-em) * 100 / 100) !default; // in percent

/* Font Style */
$ff-regular: 'Montserrat', sans-serif !default;
$ff-heading: 'Fira Sans', sans-serif !default;
$ff-icon: iconfont !default;

//font weights
$typo-weight-light: 300 !default;
$typo-weight-normal: 400 !default;
$typo-weight-bold: 700 !default;

/* ==========================================================================
   Grid-System
   ========================================================================== */

// Grid breakpoints

/* <@breakpoints */
$featurephone: 320 !default;
$smartphone: 480 !default;
$tablet: 768 !default;
$desktop: 992 !default;
$retina: 1200 !default;

/* breakpoints@> */

// Quickly modify global grid styling
$enable-flex: true !default;
$enable-grid-classes: true !default;

// Grid Container max- and min-width dimensions
$container-max-widths: $retina !default;
$container-min-widths: $featurephone !default;

// Number of columns in the grid.
$grid-columns: 12 !default;
// Padding between columns.
$grid-gutter-width: 20px !default;

// spacing
$spacer: $grid-gutter-width !default;
$spacers: (
	'zero': 0,
	'quarter': $spacer * 0.25,
	'half': $spacer * 0.5,
	'full': $spacer,
	'double': $spacer * 2,
	'tripple': $spacer * 3
) !default;

// map for bootstrap mixins
$grid-breakpoints: (
	'xs': $featurephone + px,
	'sm': $smartphone + px,
	'md': $tablet + px,
	'lg': $desktop + px,
	'xl': $retina + px
) !default;

// map for respondMin/respondMax mixin
$breakpoints: (
	'min-xs': pxToEm($featurephone),
	'min-sm': pxToEm($smartphone),
	'min-md': pxToEm($tablet),
	'min-lg': pxToEm($desktop),
	'min-xl': pxToEm($retina),
	'max-xs': pxToEm($smartphone - 1),
	'max-sm': pxToEm($tablet - 1),
	'max-md': pxToEm($desktop - 1),
	'max-lg': pxToEm($retina - 1)
) !default;

/* ==========================================================================
   Colors
   ========================================================================== */

/* <@colors */
$colors: (
	'black': #000,
	'white': #fff,
	'grey': #666,
	'grey-dark': #333,
	'grey-light': #ccc,
	'grey-lightest': #fafafa,
	'placeholder': #999,
	'ci': #228c9a,
	'ci-alt': #ef5350,
	'ci-hover': #2bafc1,
	'error': #9e4040,
	'success': #10b044,
	'warning': #f0ad4e,
	'info': #2989d8
) !default;

/* colors@> */

/* ==========================================================================
   Icons
   ========================================================================== */

/* <@icons */
$icons: (
	close: '\e900'
) !default;

/* icons@> */

$glide-class: 'slider';
$glide-element-separator: '__';
$glide-modifier-separator: '--';
