{{!-- components/slider --}}
<div class="slider">
    <div data-glide-el="track" class="slider__track">
        <ul class="slider__slides">
            <li class="slider__slide">1</li>
            <li class="slider__slide">2</li>
            <li class="slider__slide">3</li>
        </ul>
    </div>
    <!--
    <div data-glide-el="controls">
        <button data-glide-dir="<<">Start</button>
        <button data-glide-dir=">>">End</button>
    </div>
    -->
    <div class="slider__arrows" data-glide-el="controls">
        <button class="slider__arrow slider__arrow--left" data-glide-dir="<">prev</button>
        <button class="slider__arrow slider__arrow--right" data-glide-dir=">">next</button>
    </div>
</div>