{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"targets": {
					"node": "current"
				}
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-transform-runtime",
		"@babel/plugin-transform-react-jsx",
		"react-hot-loader/babel",
		[
			"babel-plugin-styled-components",
			{
				"pure": true
			}
		],
		[
			"css-modules-transform",
			{
				"extensions": [".scss", ".css"]
			}
		]
	]
}
