@charset "utf-8";

/* ==========================================================================
   Lazyload
   ========================================================================== */

$component: 'lazyload';

// block
%#{$component} {
	@include clearfix();
}


// element

// modifier
.#{$component}--blur {
	filter: blur(25px);
	transition: filter 600ms;

	&.lazyloaded {
		filter: blur(0);
	}
}

// component class selector
.#{$component} {
	@extend %#{$component};
}