{{!-- components/nav-main --}}
<nav class="nav-main">
    <ul>
        <li><a href="#area-me">Jan</a></li>
        <li><a href="#area-skills">Skills</a></li>
        <li><a href="#area-contact">Kontakt</a></li>
    </ul>
    <button class="nav-main__toggle">
        <span>Menu</span>
    </button>
</nav>