@charset "utf-8";

/**
 * Capitan navigation.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * https://www.brandung.de/
 *
 * Date: 2016-09-05
 * MIT License (MIT)
 */

/* ==========================================================================
   Main Navigation
   ========================================================================== */

$component: 'nav-main';
$nav-burger-stroke: 2;

// block
%#{$component} {
	--nav-main-color: #333;

	display: flex;
	align-items: center;
	padding: 0;
	transition: background-color 200ms ease;
	border-radius: 20px;
	position: relative;
	max-width: ($container-max-widths / $body-font-size-px) + em;

	&:before {
		transition: transform 400ms ease;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 50%;
		background: color('white');
		width: 45px;
		height: 45px;
		display: block;
		transform: translate3d(0, 0, 0) scale3d(0, 0, 0);
	}

	ul {
		transition: opacity 200ms ease, visibility 200ms ease;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		list-style: none;
		margin: 0 (-(spacer('half')));
		opacity: 0;
		visibility: hidden;
		padding: 0;
		position: absolute;
		top: 50px;
		right: 20px;
	}

	li {
		padding: 0;
		margin: $grid-gutter-width/2 0;
	}

	a {
		@include fontSizeREM(24);
		@include font();
		text-decoration: none;
		color: var(--nav-main-color);
	}

	&.is-active {
		&:before {
			transform: translate3d(50px, 80px, 0) scale3d(10, 10, 1);
		}

		ul {
			visibility: visible;
			opacity: 1;
		}
	}

	&.is-scrolled {
		--nav-main-color: #333;

		&:before {
			background: color('white');
		}
	}
}

// element
.#{$component}__toggle {
	transform: translate3d(0, 0, 1px);
	transition: transform 400ms ease 600ms, background-color 400ms ease;
	width: 45px;
	height: 45px;
	padding: 0;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin: 0;
	background: transparent;
	position: relative;

	&:focus {
		outline: none;
	}

	span {
		transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
		position: relative;
		display: block;
		font-size: 0;
		text-indent: -9999em;
	}

	span,
	span:before,
	span:after {
		height: $nav-burger-stroke + px;
		transition-timing-function: ease;
		transition-duration: 150ms;
		transition-property: transform, background-color;
		background: var(--nav-main-color);
		width: 22px;
	}

	span:before,
	span:after {
		position: absolute;
		display: block;
		content: '';
		transition-duration: 0.2s;
	}

	span:before {
		top: (-$nav-burger-stroke * 4 + px);
	}

	span:after {
		bottom: (-$nav-burger-stroke * 4 + px);
	}

	.is-active & {
		span {
			transform: rotateY(180deg);
			background-color: transparent;
		}

		span:before {
			transform: translate3d(0, $nav-burger-stroke * 4 + px, 0) rotate(45deg);
		}

		span:after {
			transform: translate3d(0, (-$nav-burger-stroke * 4 + px), 0) rotate(-45deg);
		}
	}
}

// modifier

// component class selector
.#{$component} {
	@extend %#{$component};
}
