@charset "utf-8";

/* ==========================================================================
   Section
   ========================================================================== */

$component: 'section';

// block
%#{$component} {
	padding: spacer('double') 0;
}
// element

// modifier
.#{$component}--grey {
	background: color('grey-lightest');
}

// component class selector
.#{$component} {
	@extend %#{$component};
}
