{{#> base title="Jan Feldmann - Frontend-Developer" }}
	{{#*inline "main-block"}}
		{{> header }}
        <section>
            {{> stage }}
        </section>
        <main class="main">
            <section class="section">
                <div class="container">
                    <header>
                        <h2>Warum Frontend?</h2>
                    </header>
                    <p>Als Brücke zwischen Technik und Design bietet mir das Frontend die Möglichkeit meine Ideen visuell und in der Programmierung zum Ausdruck zu bringen. Es ist ständig in Bewegung und entwickelt sich weiter.</p>
                    <p><strong>&rarr; Im Frontend wird es nie langweilig</strong></p>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <header>
                        <h2>Erfahrung</h2>
                    </header>
                    <p>Seit meinen ersten Code-Zeilen habe ich zahlreiche Projekte geleitet und erfolgreich fertiggestellt.</p>
                </div>
            </section>
			{{!--
			<section class="section">
				<div class="container">
					{{> slider }}
				</div>
			</section>
		   --}}
    </main>
{{/inline}}
{{/base}}