{{!-- components/list --}}
<ul class="list">
    <li><a href="javascript:window.location.href = 'mailto:' + ['contact','janfeldmann.info'].join('@')">E-Mail</a></li>
    <li><a href="https://github.com/janfeldmann">Github</a></li>
    <li><a href="https://www.xing.com/profile/Jan_Feldmann12/">XING</a></li>
</ul>