{{!-- components/stage --}}
<div class="stage">
    <div class="stage__media">
        <picture class="stage__media__main">
            <img src="/dist/assets/img/main_stage.jpg">
        </picture>
        <picture class="stage__overlay" data-modifier="-7">
            <img src="/dist/assets/img/main_stage_overlay_top.png">
        </picture>
        <picture class="stage__overlay" data-modifier="-10">
            <img src="/dist/assets/img/main_stage_overlay.png">
        </picture>
    </div>
    <div class="stage__content">
        <h1>Jan Feldmann</h1>
        <h2>Frontend-Developer</h2>
    </div>
</div>