{{!-- components/stage --}}
<div class="stage">
	<div class="stage__wrapper">
		<div class="stage__media">
			<picture class="stage__overlay" data-modifier="7">
				<img class="lazyload lazyload--blur" src="/dist/assets/img/stage_sqip.svg" data-srcset="/dist/assets/img/stage.jpg 1x, /dist/assets/img/stage_retina.jpg 2x">
			</picture>
		</div>
		<div class="stage__content">
			<h1>I develop experiences<br/>that make peoples<br/>lives easier</h1>
			<h2>Jan Feldmann // Frontend Developer</h2>
		</div>
	</div>
</div>