@charset "utf-8";

// Header
//
// Header component
//
// Markup: header.hbs
//
// Weight: 0
//
// Style guide: Styleguide.Components.Header

/* ==========================================================================
   Header
   ========================================================================== */

$component: 'header';

// block
%#{$component} {
	z-index: 10;
	position: fixed;
	right: $grid-gutter-width;
	top: $grid-gutter-width;
	padding: 10px 0;
}

// element
.#{$component}__content {
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

// modifier

// component class selector
.#{$component} {
	@extend %#{$component};
}
