{{!-- components/stage --}}
<div class="stage">
	<div class="stage__wrapper">
		<div class="stage__content">
			<h1>I develop experiences<br />that make peoples<br />lives easier</h1>
			<h2>Jan Feldmann // Frontend Developer</h2>
		</div>
		<div class="stage__media" data-parallax-speed="4">
			{{image imgName="slider_bg" altTag="Jan Feldmann" extension="png" }}
		</div>
	</div>
</div>