{{!-- components/stage --}}
<div class="stage">
	<div class="stage__wrapper">
		<div class="stage__media">
			<picture class="stage__overlay" data-parallax-speed="7">
				<!--
				<source media="(min-width: 1200px)" srcset="../../assets/img/main_stage_1920.webp" type="image/webp">
				<source media="(min-width: 1200px)" srcset="../../assets/img/main_stage_1920.jpg" type="image/jpeg"> 
				<source media="(min-width: 768px)" srcset="../../assets/img/main_stage_1200.webp" type="image/webp">
				<source media="(min-width: 768px)" srcset="../../assets/img/main_stage_1200.jpg" type="image/jpeg"> 
				<source media="(min-width: 480px)" srcset="../../assets/img/main_stage_768.webp" type="image/webp">
				<source media="(min-width: 480px)" srcset="../../assets/img/main_stage_768.jpg" type="image/jpeg">
				<source srcset="../../assets/img/main_stage_480.webp" type="image/webp">
				<source srcset="../../assets/img/main_stage_480.jpg" type="image/jpeg"> 
				<img src="../../assets/img/main_stage_1920.jpg" alt="Jan Feldmann">
				-->
				<img src="../../assets/img/svg/undraw_programming_2svr_ci.svg" alt="Jan Feldmann">
			</picture>
		</div>
		<div class="stage__content">
			<h1>I develop experiences<br />that make peoples<br />lives easier</h1>
			<h2>Jan Feldmann // Frontend Developer</h2>
		</div>
	</div>
</div>