@charset "utf-8";

// Header
//
// Header component
//
// Markup: header.hbs
//
// Weight: 0
//
// Style guide: Styleguide.Components.Header

/* ==========================================================================
   Header
   ========================================================================== */

$component: 'stage';

// block
%#{$component} {
	background: color('grey-lightest');

	picture {
		display: block;
	}

	img {
		max-width: 100%;
	}
}

// element
.#{$component}__wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;

	@include respondMin(point('min-lg')) {
		height: 100vh;
	}
}

.#{$component}__content {
	transform: translateZ(0);
	padding: 45px 0 0;
	align-self: center;

	h1,
	h2 {
		opacity: 0;
		animation-name: slide-fadein;
		animation-duration: 600ms;
		animation-delay: 800ms;
		animation-fill-mode: forwards;
	}

	h1 {
		@include font($ff-heading);
		margin-bottom: 5px;
		text-transform: uppercase;
		letter-spacing: 1px;
		word-spacing: 2px;
	}

	h2 {
		@include font($ff-heading, $typo-weight-normal);
		@include fontSizeREM(14);
		animation-delay: 1000ms;
		text-transform: none;
		margin: 0;
	}
}

.#{$component}__media {
	position: relative;
	margin-top: auto;

	picture {
		overflow: hidden;
	}

	img,
	picture {
		width: 100%;
		height: 100%;
	}

	img {
		max-width: 100%;
		object-fit: cover;
		opacity: 0;
		animation-name: zoom-out;
		animation-duration: 1000ms;
		animation-fill-mode: forwards;
	}
}

.#{$component}__overlay {
	z-index: 1;
}

// modifier

// animation
@keyframes slide-fadein {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes zoom-out {
	0% {
		opacity: 0;
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

// component class selector
.#{$component} {
	@extend %#{$component};
}
