@charset "utf-8";

/**
 * Capitan preact-list.scss v1.0.0
 */

/* ==========================================================================
   Preact-List
   ========================================================================== */

$component: 'preact-list';

// block
%#{$component} {
	ul,
	ol {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		grid-gap: $grid-gutter-width * 1.5;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		transition: color 200ms ease, transform 200ms ease;
		font-size: 0.75rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		i {
			transition: background-color 200ms ease;
			display: block;
			margin-bottom: 5px;
			border-radius: 50%;
			padding: 10px;

			&:before {
				@include fontSizeREM(60);
			}
		}

		&.is-active {
			transform: translate3d(0, -10px, 0);

			i {
				background: color('ci');
			}
		}
	}
}

// element

// modifier

// component class selector
.#{$component} {
	@extend %#{$component};
}
