{{!-- components/nav-main --}}
<nav class="nav-main">
    <ul>
        <li><a href="#">Bio</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <button class="nav-main__toggle">
        <span>Menu</span>
    </button>
</nav>
